fastapi
uvicorn
python-multipart
python-dotenv
firebase-admin
supabase
aiohttp
twilio
pydantic
pydantic-settings
passlib[bcrypt]
PyJWT
google-cloud-firestore
google-auth
onnxruntime
numpy
Pillow==10.4.0
email-validator
google-generativeai
redis
